/* Tree Node */
.outer-wrapper {
    margin-top: 40px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.options-header {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.inner-buttons {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.attributes {
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.in-node-buttons {
    width: 100%;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
}

.input-style {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size:16px;
    color: #555;
    outline: none;
    width:55px;
  }
  
  .input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  

.wrapper-tree{
    border: 3px darkgray solid;
    float: right;
    border-radius: 10px;
}

.slider-option {
    margin-bottom:25px;
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.slider-values {
    display: flex;
    flex-direction: row;
    height: inherit;
}

.slider-value {
    min-width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.node__notpruned {
    fill: rgb(67, 170, 139) !important;
}

.node__root> circle {
    fill: rgb(67, 170, 139) !important;
}

.node__branch > circle {
    fill: black;
}

.node__leaf > circle {
    fill: rgb(67, 170, 139) !important;
    r: 40;
}

.node__pruned {
    fill: rgb(199, 0, 57) !important; /* Change the fill color for pruned nodes */
}

.pruned-path {
    stroke: rgb(199, 0, 57) !important; /* Set the stroke color for pruned paths */
    stroke-width: 3px; 
    stroke-dasharray: 5;
}

.normal-path {
    stroke: black !important; /* Set the stroke color for normal paths */
    stroke-width: 2px; 
}

.graph-buttons {
    appearance: none;
    background-color: rgb(67, 170, 139);
    font-size: 20px;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin: 10px;
    margin-right: 25px;
    padding: 12px;
  }
  
  .graph-buttons:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .graph-buttons:hover {
    background-color: rgb(0, 117, 89);
  }
  
  .graph-buttons:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  

  .graph-buttons:active {
    background-color: rgb(125, 226, 192);
    color: black;
  }


.custom-slider {
    min-width: 40%;
    align-self: center;
}

.custom-slider .rc-slider-handle {
    background-color: black;
    border-color: black;
}

.custom-slider .rc-slider-track {
    background-color: black;
}

.custom-slider .rc-slider-rail {
    background-color: black;
}

.custom-slider .rc-slider-step {
    background-color: black;
}
